.advantage {
  margin-bottom: 120px;
  background-color: #ffffff;

  @media (max-width: 1023px) {
    margin-bottom: 75px;
  }

  @media (max-width: 767px) {
    margin-bottom: 41px;
  }
}

.advantage__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @media (max-width: 767px) {
    display: block;
  }
}

.advantage__item {
  position: relative;
  border: 1px solid #e5e5e5;
  padding: 41px 46px;
  min-height: 300px;

  &:hover {
    background-color: #00b2ff;

    & svg {
      fill: #f2f5f7;
    }

    & h2 {
      color: #f2f5f7;
    }

    & p {
      color: #f2f5f7;
    }
  }

  @media (max-width: 1023px) {
    padding: 40px 43px 30px 43px;
    min-height: 360px;
    margin-bottom: 0;
  }

  @media (max-width: 767px) {
    padding: 30px 31px 35px 30px;
    margin-bottom: 30px;
    min-height: 340px;
  }

  & svg {
    fill: #00b2ff;
    margin-bottom: 15px;

    @media (max-width: 1023px) {
      margin-bottom: 8px;
    }

    @media (max-width: 767px) {
      margin-bottom: 8px;
      width: 30px;
      height: 30px;
    }
  }
}

.advantage__item:last-child svg {
  @media (max-width: 1023px) {
    margin-bottom: 2px;
  }

  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}

.advantage__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background: #00b2ff;
}

.advantage__item h2 {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #00b2ff;
  margin-bottom: 15px;

  @media (max-width: 1023px) {
    font-size: 24px;
    margin-bottom: 9px;
  }

  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 10px;
  }
}

.advantage__item p {
  padding: 0;
  margin: 0;
  font-family: "PT Mono", "Courier New", monospace;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  color: #041827;
  font-size: 16px;

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 135%;
  }
}

.advantage__item-card {
  @media (max-width: 767px) {
    font-size: 14px;
    min-height: 325px;

    & svg {
      margin-bottom: 12px;
    }

    & h2 {
      margin-bottom: 13px;
    }
  }
}
