.advantage__item {
  position: relative;
  border: 1px solid #e5e5e5;

  &:hover {
    background-color: #00b2ff;

    & svg {
      fill: #f2f5f7;
    }

    & h2 {
      color: #f2f5f7;
    }

    & p {
      color: #f2f5f7;
    }
  }

  @media (min-width: 1024px) {
    padding: 41px 46px;
    min-height: 300px;
  }

  @media (min-width: 768px) {
    padding: 40px 43px 30px 43px;
    min-height: 360px;
    margin-bottom: 0;
  }

  @media (min-width: 320px) {
    padding: 26px 30px 35px;
    min-height: 340px;
    margin-bottom: 30px;
  }

  & svg {
    fill: #00b2ff;

    @media (min-width: 1024px) {
      margin-bottom: 13px;
    }

    @media (min-width: 768px) {
      margin-bottom: 8px;
    }

    @media (min-width: 320px) {
      margin-bottom: 7px;
    }
  }
}

.advantage__item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background: #00b2ff;
}

.advantage__item h2 {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #00b2ff;

  @media (min-width: 1024px) {
    margin-bottom: 15px;
  }

  @media (min-width: 768px) {
    font-size: 24px;
  }

  @media (min-width: 320px) {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.advantage__item p {
  padding: 0;
  margin: 0;
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  color: #041827;

  @media (min-width: 768px) {
    font-size: 16px;
  }

  @media (min-width: 320px) {
    font-size: 14px;
  }
}

.advantage__item:nth-child(3) {
  @media (min-width: 1024px) {
    padding: 41px 46px;
    min-height: 300px;
  }

  @media (min-width: 768px) {
    padding: 40px 43px 30px 43px;
    min-height: 360px;
    margin-bottom: 0;
  }

  @media (min-width: 320px) {
    padding: 26px 30px 35px;
    min-height: 325px;
    margin-bottom: 30px;
  }

  & svg {
    @media (min-width: 1024px) {
      margin-bottom: 13px;
    }

    @media (min-width: 768px) {
      margin-bottom: 7px;
    }

    @media (min-width: 320px) {
      margin-bottom: 10px;
    }
  }

  & h2 {
    @media (min-width: 1024px) {
      margin-bottom: 15px;
    }

    @media (min-width: 768px) {
      margin-bottom: 7px;
    }

    @media (min-width: 320px) {
      margin-bottom: 14px;
    }
  }
}

.advantage__item:nth-child(4) {
  @media (min-width: 1024px) {
    min-height: 300px;
  }

  @media (min-width: 768px) {
    padding: 41px 46px;
    min-height: 360px;
  }

  @media (min-width: 320px) {
    padding: 26px 31px 35px;
    min-height: 325px;
  }

  & svg {
    @media (min-width: 1024px) {
      margin-bottom: 13px;
    }

    @media (min-width: 768px) {
      margin-bottom: 4px;
    }

    @media (min-width: 320px) {
      margin-bottom: 9px;
    }
  }

  & h2 {
    @media (min-width: 1024px) {
      margin-bottom: 15px;
    }

    @media (min-width: 768px) {
      margin-bottom: 4px;
    }

    @media (min-width: 320px) {
      margin-bottom: 15px;
    }
  }
}

