.feedback-form__button-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 11px;
  margin-top: 15px;

  &:hover span {
    box-shadow: 1px 1px #ffffff;
  }

  @media (max-width: 1023px) {
    margin-top: 6px;
    margin-left: 0;
  }

  @media (max-width: 767px) {
    margin-left: 6px;
    margin-top: 3px;
  }

  & input {
    display: none;
  }
}

.feedback-form__button-checkbox label {
  padding-left: 25px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.8;
}

.feedback-form__button-checkbox span {
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  margin-right: 10px;
}

.checkbox-button:checked + span::before {
  content: "";
  background-image: url("../img/checkbox-check.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 7px;
}
