.feedback-form__button button {
  min-width: 265px;
  padding: 13px 15px;
  background: #041427;
  border-radius: 3px;
  border: none;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width: 1024px) {
    margin-left: 5px;
    margin-top: 0;
  }

  @media (min-width: 768px) {
    margin-top: 6px;
  }
}

.feedback-form__button label {
  width: 30%;
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.8;
}
