.footer-social__links-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;

  @media (min-width: 1024px) {
    margin-top: 5px;
  }

  @media (min-width: 768px) {
    margin-top: 10px;
    justify-content: inherit;
    margin-right: 0;
  }

  @media (min-width: 320px) {
    justify-content: center;
    margin-right: 11px;
  }
}

.footer-social__links-item {
  width: 40px;
  height: 40px;

  @media (min-width: 1024px) {
    text-align: center;
    margin-left: 13px;
  }

  @media (min-width: 768px) {
    text-align: end;
  }

  @media (min-width: 320px) {
    text-align: center;
    margin-left: 15px;
  }
}
