.footer {
  background: #041827;
  padding-top: 48px;

  @media (max-width: 1023px) {
    padding-top: 0;
  }
}

.footer__menu-closed button {
  &::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 1px;
    right: 25px;
    background: #c4c4c4;
    transform: rotate(90deg);
  }

  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 15px;
    right: 32px;
    background: #c4c4c4;
    transform: rotate(90deg);
  }
}
