.footer-info-wrapper {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.footer-sections {
  @media (min-width: 1024px) {
    margin-right: 70px;
    margin-top: 7px;
  }
}
