.footer-contacts {
  position: relative;

  @media (min-width: 1024px) {
    margin-top: 7px;
    margin-right: 40px;
  }

  @media (min-width: 768px) {
    margin-right: 13px;
  }
}

.footer-contacts p {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width: 768px) {
    margin-bottom: 20px;
    padding: 0;
    border: none;
    display: block;
  }

  @media (min-width: 320px) {
    display: none;
  }
}

.footer-contacts__button {
  position: relative;
  width: 100%;
  padding: 21px 24px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  background: inherit;
  border: none;
  border-top: 1px solid rgba(248, 253, 255, 0.7);

  @media (min-width: 768px) {
    display: none;
  }
}

.footer-menu__closed button {
  &::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 1px;
    right: 25px;
    top: 50%;
    background: #c4c4c4;
    transform: rotate(90deg);
  }

  &::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    right: 32px;
    background: #c4c4c4;
    transform: rotate(90deg);
  }
}

.footer-menu__open button {
  &::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    right: 32px;
    background: #c4c4c4;
    transform: rotate(90deg);
  }
}

.footer-menu__closed .footer-contacts__list {
  @media (max-width: 767px) {
    display: none;
  }
}

.footer-menu__closed .no--js {
  @media (max-width: 767px) {
    display: block;
  }
}
