.footer-contacts__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (max-width: 767px) {
    padding: 15px 0 15px 24px;
  }
}

.footer-contacts__item {
  @media (min-width: 768px) {
    margin-bottom: 6px;
  }

  @media (max-width: 767px) {
    margin-bottom: 15px;
  }
}

.footer-contacts__item a,
.footer-contacts__item span {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: rgba(255, 255, 255, 0.7);
}

