.header-button {
  padding: 10px 17px;
  margin-right: 59px;
  margin-top: 6px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #f2f5f7;
  background: inherit;
  border: 1px solid #f2f5f7;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    box-shadow: 3px 3px #f2f5f7;
  }
}
