.header {
  position: fixed;
  width: inherit;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  z-index: 5;
}

.header__contacts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 2px;
  width: 41%;
  padding-top: 10px;
  margin-right: 0;

  @media (min-width: 1090px) {
    width: 38.5%;
    padding-top: 10px;
    margin-right: 0;
  }

  @media (max-width: 1023px) {
    width: auto;
    padding-top: 4px;
    margin-right: 6px;
  }

  @media (max-width: 767px) {
    padding-top: 0;
    margin-right: 5px;
  }
}

.header__contacts-item {
  margin-right: 7px;

  @media (max-width: 767px) {
    margin-right: 0;
  }
}

.header__contacts-item a {
  position: relative;
  text-decoration: none;
  font-family: "PT Mono", "Courier New", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #f2f5f7;
  padding-left: 37px;
}

.header__contacts-link-mail span,
.header__contacts-link-phone span {
  display: inline-block;
  vertical-align: middle;

  @media (max-width: 1023px) {
    display: none;
  }
}

.header__contacts-item:first-child {
  padding-left: 2px;

  @media (max-width: 1023px) {
    margin-right: 24px;
  }

  @media (max-width: 767px) {
    margin-right: 22px;
  }
}

.header__contacts-link-mail::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/email-icon.svg");
  width: 21px;
  height: 20px;
}

.header__contacts-link-phone::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/phone-icon.svg");
  width: 21px;
  height: 20px;
}

.header__contacts-link-phone:hover::before,
.header__contacts-link-mail:hover::before {
  opacity: 0.5;
}
