.header-contacts__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: 3px;
  margin-top: 2px;

  @media (min-width: 768px) {
    width: auto;
    padding-top: 7px;
    margin-right: 13px;
  }

  @media (min-width: 1024px) {
    width: 41%;
    padding-top: 10px;
    margin-right: 0;
  }

  @media (min-width: 1090px) {
    width: 38.5%;
    padding-top: 10px;
    margin-right: 0;
  }
}

.header-contacts__item a {
  position: relative;
  text-decoration: none;
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #f2f5f7;
  padding-left: 37px;

  & span {
    display: none;

    @media (min-width: 1024px) {
      display: inline-block;
    }
  }
}

.header-contacts__item:first-child {
  margin-right: 22px;

  @media (min-width: 768px) {
    margin-right: 24px;
  }

  @media (min-width: 1024px) {
    padding-left: 8px;
  }
}

.header-contacts__link-mail::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/source/img/email-icon.svg");
  width: 21px;
  height: 20px;
}

.header-contacts__link-phone::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/source/img/phone-icon.svg");
  width: 21px;
  height: 20px;
}
