.header-logo {
  display: flex;

  &:hover {
    opacity: 0.7;
  }

  & img {
    display: block;

    @media (max-width: 767px) {
      display: none;
    }
  }

  & svg {
    display: none;

    @media (max-width: 767px) {
      display: block;
    }
  }
}
