.hero-wrapper {
  padding-top: 15.8%;
  padding-left: 6.5%;
  padding-bottom: 14.5%;

  @media (max-width: 1023px) {
    padding-top: 23.2%;
    padding-left: 0;
    padding-bottom: 26.2%;
  }

  @media (max-width: 767px) {
    padding-top: 151px;
    padding-bottom: 189px;
  }
}

.hero-wrapper h1 {
  margin: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #f2f5f7;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin-bottom: 32px;
  font-size: 80px;
  line-height: 94px;

  @media (max-width: 1023px) {
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 0;
  }

  @media (max-width: 767px) {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 7px;
  }
}

.hero-wrapper p {
  margin: 0;
  padding: 0;
  font-family: "PT Mono", "Courier New", monospace;
  font-style: normal;
  font-weight: 400;
  color: #f2f5f7;
  line-height: 155%;
  width: 60%;
  margin-bottom: 46px;
  font-size: 22px;

  @media (max-width: 1023px) {
    width: 100%;
    margin-bottom: 57px;
    font-size: 22px;
  }

  @media (max-width: 767px) {
    font-size: 14px;
    margin-bottom: 46px;
  }
}

.hero-wrapper a {
  display: inline-block;
  vertical-align: middle;
  background: #00b2ff;
  border-radius: 3px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #f2f5f7;
  cursor: pointer;
  font-size: 18px;
  line-height: 21px;
  padding: 18px 28px;

  @media (max-width: 1023px) {
    margin-left: 44px;
  }

  @media (max-width: 767px) {
    padding: 12px 38px;
    font-size: 14px;
    line-height: 16px;
    margin-left: 0;
  }
}
