.products {
  background: #041827;

  @media (min-width: 1024px) {
    padding-top: 67px;
    padding-bottom: 140px;
  }

  @media (min-width: 768px) {
    padding-top: 56px;
    padding-bottom: 46px;
  }

  @media (min-width: 320px) {
    padding-top: 47px;
    padding-bottom: 57px;
  }
}

.products h2 {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;

  @media (min-width: 1024px) {
    margin-bottom: 55px;
  }

  @media (min-width: 768px) {
    display: block;
    font-size: 36px;
    line-height: 51px;
    margin-bottom: 38px;
  }

  @media (min-width: 320px) {
    display: none;
  }
}

.products .products__title-mobile {
  @media (min-width: 768px) {
    display: none;
  }

  @media (min-width: 320px) {
    display: block;
    max-width: 90%;
    margin-bottom: 29px;
    font-size: 28px;
    line-height: 140.62%;
  }
}
