.products {
  background: #041827;

  @media (min-width: 1024px) {
    padding-top: 67px;
    padding-bottom: 140px;
  }

  @media (min-width: 768px) {
    padding-top: 56px;
    padding-bottom: 46px;
  }

  @media (min-width: 320px) {
    padding-top: 47px;
    padding-bottom: 57px;
  }
}

.products h2 {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;

  @media (min-width: 1024px) {
    margin-bottom: 55px;
  }

  @media (min-width: 768px) {
    display: block;
    font-size: 36px;
    line-height: 51px;
    margin-bottom: 38px;
  }

  @media (min-width: 320px) {
    display: none;
  }
}

.products .products__title-mobile {
  @media (min-width: 768px) {
    display: none;
  }

  @media (min-width: 320px) {
    display: block;
    max-width: 90%;
    margin-bottom: 29px;
    font-size: 28px;
    line-height: 140.62%;
  }
}

.products__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
  }
}

.products__item {
  position: relative;

  @media (min-width: 1024px) {
    max-width: inherit;
    margin: 0;
  }

  @media (min-width: 768px) {
    max-width: 670px;
  }

  @media (min-width: 320px) {
    max-width: 270px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.products__item:not(:last-child) {
  @media (min-width: 1024px) {
    margin-right: 20px;
  }
}

.products__link-image-desktop {
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}

.products__link-image-tablet {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }

  @media (min-width: 1024px) {
    display: none;
  }
}

.products__link-image-mobile {
  @media (min-width: 768px) {
    display: none;
  }
}

.products__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background: #00b2ff;
  border-radius: 3px 0 0 0;
  background-image: url("../img/card-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: 768px) {
    width: 60px;
    height: 60px;
  }

  @media (min-width: 320px) {
    width: 40px;
    height: 40px;
  }
}

.products__link h3 {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;

  @media (min-width: 1024px) {
    width: 46%;
    top: 47px;
    left: 40px;

    & br {
      display: none;
    }
  }

  @media (min-width: 768px) {
    width: 23%;
    font-size: 20px;
    top: 38px;
    left: 45px;
  }

  @media (min-width: 320px) {
    width: 50%;
    font-size: 18px;
    line-height: 30px;
    top: 26px;
    left: 30px;
  }
}
