.products {
  background: #041827;
  padding-top: 67px;
  padding-bottom: 140px;

  @media (max-width: 1023px) {
    padding-top: 56px;
    padding-bottom: 46px;
  }

  @media (max-width: 767px) {
    padding-top: 47px;
    padding-bottom: 57px;
  }
}

.products h2 {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 55px;

  @media (max-width: 1023px) {
    display: block;
    font-size: 36px;
    line-height: 51px;
    margin-bottom: 38px;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.products .products__title-mobile {
  display: none;

  @media (max-width: 767px) {
    display: block;
  }
}

.products__list {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  list-style-type: none;
  display: flex;

  @media (max-width: 1023px) {
    flex-direction: column;
  }
}

.products__item {
  position: relative;
  max-width: inherit;
  margin: 0;

  @media (max-width: 1023px) {
    max-width: 670px;
  }

  @media (max-width: 767px) {
    max-width: 270px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.products__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background: #00b2ff;
  border-radius: 3px 0 0 0;
  background-image: url("../img/card-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;

  @media (max-width: 767px) {
    width: 40px;
    height: 40px;
  }
}

.products__link {
  margin: 46px 46px 0 41px;
  display: block;
}

.products__link h3 {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  max-width: 350px;
  max-height: 650px;
  font-size: 20px;

  @media (max-width: 767px) {
    font-size: 18px;
    line-height: 30px;
  }
}

.products__wrapper {
  position: relative;
}
