.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__username input,
.form__phone input,
.form__textarea textarea {
  width: 100%;
  background: rgba(4, 20, 39, 0.15);
  border: none;
  border-radius: 3px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;

  &:hover {
    box-shadow: 3px 3px #f2f5f7;
  }

}

.form__username input,
.form__phone input {
  padding: 15px;

  @media (max-width: 1023px) {
    padding: 13px 12px;
  }

  @media (max-width: 767px) {
    padding: 14px;
  }
}

.form__username input::placeholder,
.form__phone input::placeholder,
.form__textarea textarea::placeholder {
  color: #ffffff;
}
